body {
  margin: 0;
  font-family: 'Maven Pro', sans-serif;
}

/* deader_hero combines nav bar and the hero, for the purpose of having one joint gradient background */
.header_hero {
  background-image: linear-gradient(45deg, #d9afd9 0%, #97d9e1 100%);
  width: 100%;
}

/* Header starts. Header consists of a logo and a nav */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px;
  width: 90%;
  margin: 0 auto;
}
.logo_container {
  width: 30%;
}
.logo {
  width: 17%;
  padding: 5%;
}
.nav {
  width: 75%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  float: right;
  margin-left: 12%;
  font-weight: 300;
}
a:link,
a:visited {
  text-decoration: none;
  color: black;
}
a:hover {
  color: rgb(59, 7, 80);
  font-weight: bold;
}
a:active {
  text-decoration: underline;
}
/* Header ends */

/* Hero starts. Consist of an intro paragraph on the left and a photo on the right*/
.hero {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.intro {
  width: 65%;
  flex: 2 1 350px;
}
.intro_text {
  width: 70%;
  padding-bottom: 4%;
}
.github {
  width: 6%;
}
.intro_photo {
  width: 29%;
  padding: 2.5%;
  flex: 1 2 200px;
}
.anastasia_photo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* Hero ends */

/* Main website section starts here. It has an overview of 'My journey' and consists of 2 boxes, each in its own column */
main {
  width: 90%;
  margin: 0 auto;
}
.journey {
  text-align: center;
  padding: 2%;
}
.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 2%;
}
.column1,
.column2,
.column3 {
  background-color: #f0f0f0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  width: 27%;
  margin: 3%;
  flex: 1 1 300px;
}
.column_content {
  padding: 5%;
}
.column_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.btn {
  width: 25%;
  padding: 3%;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 500;
  background-color: rgb(255, 255, 255);
  color: #000;
  border: rgb(11, 14, 15);
  border: none;
  box-shadow: 0px 8px 15px rgba(80, 80, 80, 0.1);
  cursor: pointer;
  outline: none;
}
.btn:hover {
  background-color: #ceacce;
  box-shadow: 0px 15px 20px rgba(23, 60, 71, 0.4);
  color: black;
  transform: translateY(+3px);
}
/* Main section ends */

/* Footer starts here */
.curved {
  background-color: #e0edff;
}
.footer_columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  font-size: 0.75em;
}
.footer1,
.footer2,
.footer3 {
  width: 25%;
  flex: 1 1 300px;
  margin: 3%;
}
.logo_footer {
  width: 8%;
}
.btn2 {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  padding: 7px 20px;
  border: 1px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
}
.btn2:hover {
  color: #000000 !important;
  background-color: rgb(232, 232, 255);
  border-color: #081630 !important;
  transition: all 0.4s ease 0s;
  box-shadow: 0px 15px 20px rgba(23, 60, 71, 0.4);
  transform: translateY(+4px);
}
/* footer ends */
